body {
    background-color: #feebed;
}

nav {
	background-color: #c52156 ;
	padding: 1px;
	line-height: 10px;
	text-align:right;
	top: 0;
	border-radius: 5px;
}

footer {
	justify-content: center;
    padding-block: 9px;
    display: flex;
	background-color: #c52156 ;
    margin-top: 65px;
}

img{
    width: 550px;
    
}

nav li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
	width: 10px;
}

.box {
    background-color: #fc7b97;
    min-width: 170px;
    height: 270px;
    border-radius: 5px;
    padding-inline: 20px;
    justify-items: center;
    margin: 10px;
}

.box img{
    width: 150px;

}

.tutup-box {
    display: inline-block;
    justify-content: center;
    margin-inline: 20px;
}

.tutup {
    display: flex;
    flex-direction: row;
}

.tombol {
    display: flex;
}

.text-1 {
    font-weight: bold;
    padding-block: 5px;
}
.text-2 {
    font-weight: normal;
    padding-block: 5px;
}

.tombol a {
    text-decoration: none;
    width: 100%;
    color: black;
    background-color:#c52156  ;
    text-align: center;
    padding-block: 5px;
    border-radius: 5px;
}
.btn{
    background-color:#c52156  ;
}

@media (max-width: 800px) {
    .tutup {
        flex-direction: column;
    }

    .tutup-box {
        margin-bottom: 50px;
    }
}